
  
.makenna{
    max-width: 300px;
}

.image-thumbnail{
    max-width: 100%;
    max-height: auto;
}

.school-image{
    max-width: 50vw
}

.ms-5{
    max-width:125px;
    max-height:auto;
}

@media screen and (max-width: 993px) {
    .ms-5{
        max-width:90px;
        max-height: auto;
        padding-right: 20px;
        padding-left: 0px;
        margin-left: 10px;
        border-left: 0px;
    }
   .uni{
       padding-left: 20px;
   }
}
